.app.dark {
  --bg-color: #021759;
  --inverted-bg-color: #cbcdcd;

  --primary-color: #109a16;
  --secondary-color: #25bd1b;

  --inverted-primary-color: #1c30ba;
  --inverted-secondary-color: #05b4d1;
}