.app_dark_theme {
    --bg-color: #021759;
    --inverted-bg-color: #cbcdcd;
    --primary-color: #25bd1b;
    --secondary-color: #109a16;
    --inverted-primary-color: #1c30ba;
    --inverted-secondary-color: #05b4d1;
}
