.app_light_theme {
    --bg-color: #cbcdcd;
    --inverted-bg-color: #021759;
    --primary-color: #1c30ba;
    --secondary-color: #05b4d1;
    --inverted-primary-color: #25bd1b;
    --inverted-secondary-color: #109a16;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
