.app.light {
  --bg-color: #cbcdcd;
  --inverted-bg-color: #021759;

  --primary-color: #1c30ba;
  --secondary-color: #05b4d1;

  --inverted-primary-color: #109a16;
  --inverted-secondary-color: #25bd1b;
}