.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #ea6900;
    --primary-color: #c21000;
    --secondary-color: #ef2c1d;
    --inverted-primary-color: #e8e2dd;
    --inverted-secondary-color: #e4dfd9;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
