.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    display: flex;
    align-items: center;
    padding: 8px 16px;
    outline: none;

    .addonLeft,
    .addonRight {
        display: flex;
    }

    .addonLeft svg,
    .addonRight svg {
        color: var(--hint-redesigned);
    }

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent-redesigned);
        }
    }
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.filled {
    border: none;
    border-radius: 34px;

    &.normal {
        background: var(--light-bg-redesigned);
    }

    &.success {
        background: var(--save-redesigned);
    }

    &.error {
        background: var(--cancel-redesigned);
    }
}

.outline {
    background: none;
    border-radius: 34px;

    &:hover {
        border-color: var(--accent-redesigned);
    }

    &.normal {
        border: 1px solid var(--icon-redesigned);
    }

    &.success {
        border: 1px solid var(--save-redesigned);
    }

    &.error {
        border: 1px solid var(--cancel-redesigned);
    }
}

.withAddon {
    padding: 0 16px;
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
